/* ⭐️ GENERAL */
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: #9f9f9f;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  #arenaImg {
    width: 80vw;
    height: 80vw;
  }
  .footer {
    /* background-color: red;
    color: blue; */
    font-size: 1.2rem;
    color: blue;
  }
}

/* ⭐️ BOTTOM */

.footer {
  position: absolute;
  bottom: 30px;
  width: calc(100vw - 0.8em);
  width: 100%;
  text-align: center;
  z-index: 99;
}

a {
  text-decoration: underline;
  color: red;
}
